*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(175, 197, 175)
}

.navbar-brand{
    font-size: 40px;
    font-weight: lighter;
}

/*FOOTER*/
footer{
    background-color: rgb(113, 136, 113);
}

.redes__lista{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.direccion{
    text-align: center;
}
.copi{
    display: flex;
    justify-content: end;
}
.wsp {
    width: 40px;
    position: fixed;
    right: 0px;
    top: 150px; 
}
.wsp:hover {
    transform: scale(1.2);
    transition: all 2s; 
}
/*HEADER*/
#contenedor{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;

}
.carousel-item{
    opacity: 0.8;
    height: 500px;

}
